.header{
    text-align: center;
}


h1{
color: #023E73
}

h2{
    text-align: center;
    color: #023E73

}

 h3{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    padding: 15px;
    color: #03658C
 }
 
 h4{
color: #03658C
 }

body{
    background-color: #A62177;
    font-family: 'Roboto', sans-serif;
}

.tenemos{
    color: #03658C;
}


.formulario{
    margin: 50px;
}

.planes{
    text-shadow: blueviolet;
    color: whitesmoke;
}

#galeria .col-lg-4 {
    margin: 0 !important;
    padding: 25px;

}

#galeria img {
width: 100%;
height: 250px;
}

#galeria img:hover {
    border: 1px solid #023E73;
    transform: scale(1.1);
    box-shadow: 0px 0px 50px #023E73;

}

.logoheader{
    width: 75px;
}

.imagenquienes{
padding: 75px;
width: 500px;
height: 500px;
}

.imagen1quienesej{
    margin: 0 auto;
}

.pregfre{
    text-align: center;
    padding: 75px;
}

.footer{
 padding: 5%;
}


.tampersonalizada {
   max-width: 300px;
    
}
