.tenemos {
    color: #03658C;
  }
  
  .formulario {
    margin: 50px;
  }
  
  .planes {
    text-shadow: blueviolet;
    color: whitesmoke;
  }
  
  .logoheader {
    width: 75px;
  }
  
  .imagenquienes {
    padding: 10px;
    width: auto;
    height: auto;
  }
  

  .pregfre {
    text-align: center;
    padding: 75px;
  }
  
  .comentarios {
padding: 10px;
text-align: center;
  }