
button.navbar-toggler.botonMenu {
  background-color: #a62177; 
  border-color: #d98fb8;
}

.imagenBotonNav {
  background-image: url("../img/navbaricon.png");
}

.h1formulario{
    padding: 30px;
}

.btn-clasebotones{
  background-color: #A62177;
  color: rgb(248, 239, 248);
  text-shadow: #d98fb8;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
font-weight: 500;
}

button.navbar-toggler.botonMenu {
  background-color: #a62177; 
  border-color: #d98fb8;
}

.imagenBotonNav {
  background-image: url("../img/navbaricon.png");
}

.h1formulario{
    padding: 30px;
}

.btn-clasebotones{
  background-color: #A62177;
  color: rgb(248, 239, 248);
  text-shadow: #d98fb8;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
font-weight: 500;
}

.darkmode{
  color: white;
background: black;
}

.darkMode .modal{
  color: black;

}

.darkMode .card{
  color: black;
}

