h1 {
    color: #023E73;
  }
  
  h2 {
    text-align: center;
    color: #023E73;
    padding: 20px;
  }
  
  h3 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    padding: 15px;
    color: #03658C;
  }
  
  h4 {
    color: #03658C;
  }